// ----------------------------
// --- color variables
// ----------------------------
// -------- real color
$white: #FFFFFF;
$black: #000000;
$dark-grey: #706f6f;
$light-grey: #ebebeb;
$blue :#023a5d;
$red: #bb1f2e;
$green: #579787;

// -------- background
$color-background-primary: $blue;
$color-background-secondary: $light-grey;
$color-background-tertiary: $dark-grey;

// -------- text
$color-text-h1: $blue;
$color-text-h2: $red;

$color-text: $blue;
$color-text-second: $dark-grey;
$color-text-invert: $white;
$color-text-first:$red;
$color-text-second:$green;

$color-text-link: $blue;
$color-text-link-hover: $red;
$color-text-link-visited: $dark-grey;

// -------- object
$color-shadow: rgba ($dark-grey, .25);
$border-color: $blue;
$border-color-hover: $dark-grey;
$border-color-focus: $dark-grey;
$border-color-active: $dark-grey;

// ----------------------------
// --- font
// ----------------------------
// -------- google font : roboto
@import url('https://fonts.googleapis.com/css?family=Roboto:300,700i');
$roboto: 'Roboto', sans-serif;

// -------- local font : Hurme
@include font('Hurme', '../fonts/hurmegeometricsans-regular', 400, normal);
@include font('Hurme', '../fonts/hurmegeometricsans-semibold', 600, normal);
@include font('Hurme', '../fonts/hurmegeometricsans-light', 300, normal);
$hurme : 'Hurme', sans-serif;

// -------- font-weight
$hairline-weight: 100;
$thin-weight: 200;
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$bold-weight: 700;
$xbold-weight: 800;
$heavy-weight: 900;

// -------- font-style
$roman: normal;
$italic: italic;

// -------- font-size
$fz-small: 1.2;
$fz-regular: 1.5;
$fz-large: 1.7;
$fz-x-large: 2.3;
$fz-xx-large: 2.5;
$fz-xxx-large: 3.5;
